@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mã giảm giá</title>
    <link href="@Url.Content("~/Content/bookManage.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <section class="main-screen">
        <div class="container home-inner">
            <section class="testimonials wrapper">
                <div class="row">
                    @using (Html.BeginForm("CreateCode", "Code", FormMethod.Post))
                    {

                        <div class="col-md-2">
                            <p>Ngày hiệu lực</p>
                            <input type="date" name="startDate" id="startDate" required>
                        </div>
                        <div class="col-md-2">
                            <p>Ngày hết hạn</p>
                            <input type="date" name="endDate" id="endDate" required>
                        </div>
                        <div class="col-md-2">
                            <p>Số tiền giảm</p>
                            <input type="number" name="reduce" id="reduce" min="1000" max="1000000" step="1000" value="1000">
                        </div>
                        <div class="col-md-2">
                            <p>Số lượng</p>
                            <input type="number" name="total" id="total" min="1" max="1000" value="1">
                        </div>
                        <div class="col-md-4">
                            <p></p>
                            <button type="submit">Tạo</button>
                        </div>

                    }
                </div>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Mã giảm giá</th>
                            <th>Ngày tạo</th>
                            <th>Ngày hết hạn</th>
                            <th>Số tiền giảm</th>
                            <th>Số lượng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.DsCode)
                        {
                        <tr>
                            <td>@item.CODE</td>
                            <td>@item.NgayThem</td>
                            <td>@item.NgayHetHan</td>
                            <td>@item.SoTienGiam</td>
                            <td>@item.SoLuong</td>
                        </tr>
                        }
                    </tbody>
                </table>

            </section>
            <div class="paging" style="display: flex;">
                <ul class="pagination" style="margin-left: auto; margin-right: auto;">
                    @{
                        int numPage = Convert.ToInt32(Math.Ceiling(ViewBag.slS / 15.0));
                        for (int i = 1; i < numPage + 1; i++)
                        {
                            <li><a href="~/Code?index=@(i-1)">@i</a></li>
                        }
                    }
                </ul>
            </div>
        </div>
    </section>
</body>

</html>