
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <link href="@Url.Content("~/Content/detailQC.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>Thông tin quảng cáo</title>
</head>
<body>
    @if (ViewBag.QC != null)
    {
        <div class="main-screen-2">
            @using (Html.BeginForm("QCUpdate", "QuangCao", FormMethod.Post))
            {
                <div class="container-fluid">
                    <h3 class="h3-pmt get-center">THÔNG TIN QUẢNG CÁO</h3>
                    <div class="add-pmt-box get-center pmt-box">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <div class="row">
                                    <p>Tên quảng cáo</p>
                                </div>
                                <div class="row">
                                    <input type="text" name="TenQuangCao" id="TenQC" class="ipt-info" value="@ViewBag.QC.TenQC" required>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <div class="row">
                                    <p>Tên chủ sỡ hữu quảng cáo</p>
                                </div>
                                <div class="row">
                                    <input type="text" name="ChuSoHuuQuangCao" id="ChuSoHuuQC" class="ipt-info" value="@ViewBag.QC.ChuSoHuuQC" required>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <div class="row">
                                    <p>Ngày bắt đầu</p>
                                </div>
                                <div class="row">
                                    <input type="date" name="NgayBatDau" id="NgayBatDauQC" class="ipt-info" required>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <div class="row">
                                    <p>Ngày kết thúc</p>
                                </div>
                                <div class="row">
                                    <input type="date" name="NgayHet" id="NgayHetQC" class="ipt-info" required>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <div class="row">
                                    <p>Số điện thoại chủ sỡ hữu</p>
                                </div>
                                <div class="row">
                                    <input type="tel" name="SdtChuQuangCao" id="SdtChuQC" class="ipt-info" pattern="[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]" value="@ViewBag.QC.SdtChuQC" required>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <div class="row">
                                    <p>Email chủ sỡ hữu</p>
                                </div>
                                <div class="row">
                                    <input type="email" name="EmailChuQuangCao" id="EmailChuQC" class="ipt-info" value="@ViewBag.QC.EmailChuQC" required>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <p>Loại quảng cáo</p>
                                <div class="row">
                                    <select id="LoaiQC" name="LoaiQuangCao">
                                        <option value="A" selected>Loại A</option>
                                        <option value="B">Loại B</option>
                                        <option value="C">Loại C</option>
                                        <option value="D">Loại D</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <p>Vị trí quảng cáo</p>
                                <div class="row">
                                    <select id="ViTriQC" name="ViTriQC">
                                        <option value="null" selected></option>
                                        <option value="vitri0">Banner</option>
                                        <option value="vitri1">vi tri 1</option>
                                        <option value="vitri2">vi tri 2</option>
                                        <option value="vitri3">vi tri 3</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <p>Chọn hình quảng cáo</p>

                                <div class="row">
                                    <input type="file" id="HinhQC" name="HinhQC" class="ipt-info" required>
                                </div>
                            </div>
                        </div>
                        <div class=" row">
                            <div class="btn-sua">
                                <input type="submit" id="submit" value="Update" />
                            </div>
                        </div>

                    </div>
                </div>
            }
            @*</form>*@
        </div>
    }
</body>
</html>
