<!DOCTYPE html>
<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <meta charset="utf-8">
    <link href="@Url.Content("~/Content/menu.css")" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <link rel="shortcut icon" href="~/Image/thumb.ico" />
</head>
<body>
    <div class="banner">
        <a href="http://huflit.edu.vn/">
            <img src="~/Image/banner.png" style="width: 100%; height: 100%" />
        </a>
    </div>

    <div class="container-fluid big-menu">
        <nav class="navbar navbar-default first-line-menu">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->

                <div class="row">

                    <!-- Logo -->
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        <div class="navbar-header">
                            <a href="~/Home/Home" class="navbar-brand">
                                <img src="~/Image/logo.png" style="height: 200%; margin-left: -40px; margin-top: -10px;"
                                     title="Logo" alt="Logo" />
                            </a>
                        </div>
                    </div>

                    <!-- searching bar -->
                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                        <form class="navbar-form navbar-left" action="~/Home/Search" method="get">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Nhập tên sách" name="search">
                            </div>
                            <button type="submit" class="btn"><i class="fas fa-search"></i> Tìm kiếm</button>
                        </form>
                    </div>

                    <!--Quản lý đơn hàng -->
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <a href="#" class="navbar-brand">
                            <div style="float: left;"><i class="fas fa-boxes" style="font-size: 20px"></i></div>
                            <div style="float:right; font-size: 1.3rem; line-height: 95%; margin: -3px 0px 0px 10px;">Quản lý<br>đơn hàng</div>
                        </a>
                    </div>

                    <!-- Giỏ hàng -->
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        
                        <a href="~/Cart/Cart" class="navbar-brand">
                            <div style="float: left;"><i class="fas fa-cart-plus"></i></div>
                            <div style="float:right; font-size: 1.3rem; margin: 0px 0px 0px 10px;">Giỏ hàng</div>
                        </a>
                    </div>

                    <!--Đăng nhập-->
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        @if (Session["userID"] == null)
                        {
                            <a href="~/Login/Login" class="navbar-brand" style="border: 2px solid #fff; border-radius: 5px; padding: 13px 15px;">
                                <div style="float: left;"><i class="fas fa-user-circle"></i></div>
                                <div style="float:right; font-size: 1.3rem; margin: 0px 0px 0px 10px;">Đăng nhập</div>
                            </a>
                        }
                        else
                        {
                            <div class="dropdown navbar-brand" style="border: 2px solid #fff; border-radius: 5px; padding: 13px 15px;">
                                <div class="dropbtn">
                                    <div style="float: left;"><i class="fas fa-user-circle"></i></div>
                                    <div style="float:right; font-size: 1.3rem; margin: 0px 0px 0px 10px;">@Session["userName"]</div>
                                </div>
                                <div class="dropdown-content">
                                    <a href="~/Account/Account?id=@Session["userID"]">Xem thông tin cá nhân</a>
                                    @if (Session["userPrio"] != null && Session["userPrio"].ToString() == "Admin")
                                    {
                                        <a href="~/Account/AccountManage">Quản lý thành viên</a>
                                        <a href="~/Book/BookManage">Quản lý sách</a>
                                    }
                                    @Html.ActionLink("Đăng xuất", "Logout","Home")
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </nav>

        <nav class="navbar navbar-default second-line-menu" style="margin-top: -10px;">
            <div class="container-fluid">
                <div class="row">

                    <!-- Sản phẩm -->
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" >
                        
                        <div class="dropdown navbar-brand" style="margin-left: 0 !important;" >
                            <div class="dropbtn">
                                <div style="float: left;"><i class="fas fa-bars"></i></div>
                                <div style="float: right; margin: 0px 0px 0px 5px;">Danh mục sản phẩm</div>
                            </div>
                            <div class="dropdown-content" style="margin-left: 0;">
                                @foreach (var tl in ViewBag.DsTL)
                                {
                                    if (tl.HienThiTL)
                                    {
                                        <a href="~/Home/Search?search=@tl.MaTheLoai&index=0&tl=true">@tl.TenTheLoai</a>
                                    }
                                }
                            </div>
                        </div>
                    </div>

                    <!-- Sách trong tháng -->
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <a href="#" class="navbar-brand">
                            <div style="float: left;"><i class="far fa-calendar-alt"></i></div>
                            <div style="float: right; margin: 0px 0px 0px 5px;">Sách trong tháng</div>
                        </a>
                    </div>

                    <!-- Sách giảm giá -->
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <a href="#" class="navbar-brand">
                            <div style="float: left;"><i class="fab fa-hotjar"></i></div>
                            <div style="float: right; margin: 0 0 0 5px;">Sách giảm giá</div>
                        </a>
                    </div>

                    <!-- Sách đã xem -->
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <a href="#" class="navbar-brand">
                            <div style="float: left;"><i class="fas fa-eye"></i></div>
                            <div style="float: right; margin: 0 0 0 5px;">Sách đã xem</div>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>


@RenderBody()

    <!-- Footer -->
    <div class="container-fluid footer">
        <div class="row">
            <h4><b>Địa chỉ văn phòng:</b> 155 Sư Vạn Hạnh (nd), Phường 13, Quận 10, TP.HCM</h4>
            <p>© 2019 - Bản quyền của Công Ty Trách Nhiệm Hết Hạn 1 Đống Thành Viên</p>
        </div>
    </div>
</body>
</html>
